# OS / IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Packet Tracer backups
*.pkt.bak
*.pka.bak

# Visual Studio / C++ build artifacts
.vs/
[Dd]ebug/
[Rr]elease/
x64/
ipch/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.ipch
*.ilk
*.suo
*.cache
*.userosversion
*.filters
*.lock
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.log
